body {
    font-family: 'Montserrat', sanss-serif;

}

h1, h2, p {
    font-family: 'Montserrat', sanss-serif;
    text-align: center;
}

input[type="text"], input[type="number"], input[type="email"], input[type="url"] {
    /* text-align: center; */
    border: none;
    border-bottom: 1px solid;
}



section {
    margin: 2em auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}

input:active {
    border: none;
}

#fs1 {
    margin-top: 5em;
    text-align: center;
    padding: 4em;
    display: flex;
    justify-content: space-evenly;
    border: none;
}

#fs2 {
    text-align: center;
    border: none;

}

#fs3 {
    border: none;
    margin-top: 2em;
    text-align: center;
    /* background-color: aqua; */
    display: flex;
    padding: 2em;
    justify-content: space-evenly;
}

#fs {
    text-align: center;
    border: none;
}

legend {
    font-weight: 500;
    text-decoration: underline;
}

hr {
    border: 1px solid pink;
}

button {
    margin: 0 auto;
}

#submit {
    margin-top: 3em;
    display: flex;
}