h1 {
    text-align: center;
    height: 60px;
    color: white;
    background-color: rgb(13, 13, 54);
}




* {
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.Form1 {
    /* border: 2px solid; */
    background-color: antiquewhite;
    height: 600px;
    display: flex;
    /* justify-content: centers; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

input {
    background-color: antiquewhite;

    border: none;
    border-bottom: 2px solid black;
}


.div {
    display: flex;
    justify-content: space-evenly
}

input[type="file"] {
    border: none;
}

button {
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgb(40, 40, 119);
    cursor: pointer;
}

span {
    text-decoration: underline;
}