h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a {
    color: brown;
    text-decoration: none;
}

hr {
    border: 2px solid pink
}


section {
    text-align: center;
    /* border: 1px solid; */
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}