* {
    margin-left: 0;
    margin-right: 0;
}

h1, h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;

}

section {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.Inline, .Embedded, .External {
    margin: 0 auto;
    border: 3px solid pink;
    background-color: turquoise;
    padding: 2em;
}

.Inline p:nth-of-type(2n) {
    background-color: bisque;
}

.parent {
    background-color: bisque;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    background-color: rgb(195, 9, 9);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}